#about-me-container {
  aspect-ratio: 16/9;
  background-image: url("assets/Organic_Shapes/About_Me_Blob_Shape.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: "about-me-images about-me-text";

  grid-template-columns: 1.15fr 1fr;
  margin-top: 50px;
  padding-bottom: 100px;
  padding-top: 50px;
}

#about-me-images {
  display: grid;
  grid-area: about-me-images; /* Refers to larger grid fro the about-me container */

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 80px;
}

#grad-cap-illustration {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
}

#anteater-illustration {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
}

#desk-illustration {
  grid-area: 2 / 1 / 3 / 3;
  width: 50%;
  justify-self: center;
}

#about-me-header {
  color: var(--color-section-header);
  text-align: center;
}

#about-me-text {
  font-size: 1.75rem;
  font-weight: 400;

  grid-area: about-me-text;
  line-height: 38px;
  padding-right: 10%;

  padding-top: 150px;
}

#background-logo {
  opacity: 0.1;
  position: absolute;
  right: 0;
  width: 50%;
  height: auto;
  aspect-ratio: 389 / 604;
  z-index: -1;
}

/* Tablet styles (769px - 1100px) */
@media screen and (max-width: 1100px) and (min-width: 769px) {
  #about-me-container {
    aspect-ratio: auto;
    background-image: url("assets/Organic_Shapes/About_Me_Blob_Shape.svg");
    background-size: contain;
    background-position: center;
    grid-template:
      "about-me-images" auto
      "about-me-text" auto / 1fr;
    margin-bottom: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  #about-me-text {
    font-size: 1.375rem;
    line-height: 28px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 25px;
  }

  #background-logo {
    width: 80%;
    height: auto;
    left: 10%;
  }

  #about-me-images {
    padding-top: 40px;
    padding-bottom: 20px;
    max-width: 600px;
    margin: 0 auto;
  }

  #grad-cap-illustration {
    width: 75%;
    justify-self: center;
  }

  #anteater-illustration {
    width: 75%;
    justify-self: center;
  }

  #desk-illustration {
    width: 40%;
  }
}

/* Mobile styles (0 - 768px) */
@media screen and (max-width: 768px) {
  #about-me-container {
    aspect-ratio: 9/16;
    background-image: url("assets/Organic_Shapes/Phone_About_Me_Blob_Shape.svg");
    grid-template:
      "about-me-images" 4.6fr
      "about-me-text" auto / 1fr;
    margin-bottom: 50px;

    padding-bottom: 50px;
  }

  #about-me-text {
    font-size: 1.5rem;
    line-height: 22px;
    padding-right: 0;
    padding-top: 25px;
  }

  #background-logo {
    width: 100%;
    height: auto;
    left: 0;
  }
}
