#skills-container {
  background-image: url("assets/Organic_Shapes/Skills_and_Technologies_Blob_Shape.svg");
  background-repeat: no-repeat;

  /* background-position: center; */
  background-size: cover;
  display: grid;

  grid-template-areas:
    "skills-header"
    "skills-content";
  margin: 50px 0;
  padding-top: 50px;
}

#skills-header {
  grid-area: skills-header;
  margin-bottom: 50px;
}

#skills-content {
  grid-area: skills-content;
  padding-bottom: 100px;
}

.skills-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.skills-icon-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

.skills-icon {
  height: auto;
  width: 100px;
}

.skills-caption {
  font-size: 1.625rem;
  font-weight: 900;
  position: relative;
  text-align: center;
  transition: var(--animation-duration);
}

/* Bottom bar under for on hover */
.skills-caption::after {
  background: var(--color-yellow);
  content: "";
  height: 3px;
  left: 0%;
  position: absolute;
  top: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  width: 100%;
}

.skills-caption:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.skills-icon-container a:hover + .skills-caption {
  color: var(--color-yellow);
}

.skills-icon-container a:hover + .skills-caption::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Tablet styles (769px - 1100px) */
@media screen and (max-width: 1100px) and (min-width: 769px) {
  #skills-container {
    background-position: top;
    padding-top: 25px;
  }

  #skills-header {
    margin-bottom: 40px;
  }

  #skills-content {
    padding-bottom: 50px;
  }

  .skills-icon-container {
    margin: 0 30px;
    margin-bottom: 15px;
  }

  .skills-icon {
    width: 80px;
  }

  .skills-icon-container > svg {
    height: auto;
    margin: 0;
    max-width: 100%;
  }

  .skills-caption {
    font-size: 1.375rem;
  }
}

/* Mobile styles (0 - 768px) */
@media screen and (max-width: 768px) {
  #skills-container {
    background-position: top;
    padding-top: 0;
  }

  #skills-header {
    margin-bottom: 25px;
  }

  #skills-content {
    padding-bottom: 0;
  }

  .skills-icon-container {
    margin: 0 20px;
    margin-bottom: 10px;
  }

  .skills-icon {
    width: 75px;
  }

  .skills-icon-container > svg {
    height: auto;
    margin: 0;
    max-width: 100%;
  }

  .skills-caption {
    font-size: 5vw;
  }
}
